:root {
  font-family: system-ui, -apple-system, sans-serif;
  line-height: 1.5;
}

body {
  margin: 0;
  display: block; /* 从 center 改为 block */
  min-height: 100vh;
  /* 允许在整个屏幕渲染 */
  min-height: -webkit-fill-available;
}

html {
  height: -webkit-fill-available;
}

/* 隐藏所有可能的滚动条，保持 App 的洁净感 */
::-webkit-scrollbar {
  display: none;
}